html,
body {
  height: 100%;
}

body {
  background-image: url("/static/img/background_reset_password_request.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 40px;
}

.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 430px;
  margin: 10px auto;
  text-align: center;
}

.h3.mb-3.fw-normal {
    color: mintcream;
    text-align: center;
}

.form-reset_password_request {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin: auto;
}

.form-reset_password_request input::placeholder {
  color: darkgrey;
  opacity: 1;
}

.form-reset_password_request input[type="email"] {
  background-color: rgb(40, 40, 40);
  margin-bottom: 20px;
  color: mintcream;
}

.form-reset_password_request input:-webkit-autofill,
.form-reset_password_request input:-webkit-autofill:focus,
.form-reset_password_request input:-webkit-autofill:hover,
.form-reset_password_request input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(40, 40, 40) inset !important;
  box-shadow: 0 0 0 1000px rgb(40, 40, 40) inset !important;
  -webkit-text-fill-color: mintcream !important;
  color: mintcream !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-reset_password_request a {
  display: inline-block;
  margin-top: 30px;
  background-color: rgb(40, 40, 40);
  border: 4px solid rgb(40, 40, 40);
  border-radius: 12px;
  color: darkgrey;
}

.form-reset_password_request a:hover {
  color: mintcream;
}

.form-reset_password_request label {
  color: mintcream;
}

.btn.btn-primary,
button[type="submit"] {
  background-color: rgb(40, 40, 40);
  padding: 15px;
  border: 1px solid mintcream;
}