{% extends './base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/reset_password.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1 class="h3 mb-3 fw-normal">Establece tu nueva contraseña</h1>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  {% if mensaje %}
    <div class="alert alert-success" role="alert">
      {{ mensaje }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  <form class="form-reset_password" action="" method="post">
      <div class="mb-3">
         <label for="new_password" class="form-label">Nueva contraseña</label>
         <input type="new_password" class="form-control" id="nueva_contraseña" name="nueva_contraseña" placeholder="Ingresa tu nueva contraseña" required>
      </div>
      <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
      <p class="mt-3">
        <a href="{{ url_for('login') }}">Volver al inicio de sesión</a>
      </p>
  </form>
</div>
{% endblock %}